

<h1>About</h1>

<table style="width:100%" id="tableone">
  <tr>
    <td>
      <h2>Ricky Dee Uno,</h2>
    </td>
  </tr>
  <tr>
    <td style="padding-right=20px">
      <h3>Ricardo Diaz is a UC Santa Barbara alumni with bachelors in Pharmacology and Biopsychology.
        He hopes to uncover the secrets kept in science and to teach others of current developments. </h3>
        <h3>He believes the privilege to an education should be a product of diligence and hard work.
        For students, if you wish to learn, you should ask.
      For teachers,  if you wish to teach, a student will listen.</h3>
      <h4> Content should be verified. </h4>
      <h2> Best,
        Rick </h2>
    </td>
    <td rowspan="2" style="margin-left=30px;">
      <h3> otherwise known as Uno </h3>
      <br>
      <p><i> but Why Uno? </i></p>
      <div>Yuno Education <%= Time.now.year %>
      </div>
    </td>
  </tr>

<br>
</table>
