
<h1>About</h1>
<div class="container classLeft">
  <h2>Ricky Dee Uno,</h2>
</div>
<br>
<div class="container classRight">
<p> otherwise known as Uno </p>
<br>
<p><i> but Why Uno? </i></p>
<div>Yuno Education <%= Time.now.year %>
</div>
</div>
