
<div class="classLeft absoluteClass well">
  <h1> Experience <small>Pharmacology</small></h1>
</div>
<div class="jumbotron classRight">

<div id="carousel1" class="carousel slide" data-ride="carousel">
  <!-- indicators -->
  <ol class="carousel-indicators">
    <li data-target ="#carousel1" data-slide-to="0" class="active"></li>
    <li data-target ="#carousel1" data-slide-to="1" class="#"></li>
    <li data-target ="#carousel1" data-slide-to="2" class="#"></li>
  </ol>
  <!-- wrapper for slides -->
  <div class="carousel-inner" role="listbox">



    <div class="carousel-item"><img class="center d-block img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Santa_Maria_Novella.jpg/1200px-Santa_Maria_Novella.jpg" alt="first pic">
      <div class="carousel-caption">
        <p> this is the text </p>
      </div>
    </div>
    <div class="item active"><img src="..." alt="second pic" class="d-block center-fluid">
      <div class="carousel-caption">
        <p> this is the text </p>
      </div>
    </div>
    <div class="item active"><img src="..." alt="third pic" class="d-block center-fluid">
      <div class="carousel-caption">
        <p> this is the text </p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
