<div class="classLeft row col-xs-6 col-md-4">
  <p> Available topics are: </p>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded ="false">
      Dropdown button </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenubutton">
        <a class="dropdown-item" href="#"> Biology </a>
        <a class="dropdown-item" href="#"> Immunobiology </a>
      </div>
  </div>
</div>

<!--
<div class="classLeft absoluteClass row">
<div class="col-xs-6 col-md-4">
<h2 class="classLeft absoluteClass"> You've found Learning </h2>
  <h4> To learn more: </h4>
</div>
</div>
<div class="classLeft row">
<div class="col-xs-6 col-md-4">
<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle classLeft absoluteClass" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
</div>
</div>

<div class="classRight">
<p><strong> Let's begin </strong></p>
<p> What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
</div>

<div class="classRight dropdown-menu">
  <h6 class="dropdown-header">Small Picture</h6>
  <a class="dropdown-item" href="#small-bio-DNA">DNA and RNA</a>
  <a class="dropdown-item" href="#small-bio-cells">Cells and Ribosomes</a>
</div>
-->
