// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #86888c;
  font-weight: 400;
	height: 100%;
	margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

footer {
  font-size: medium;
  text-align: center;
  clear: both;
  position: fixed;
  left: 0px;
  bottom: 15px;
  height: 80px;
  width: 100%;
  padding-top: 58px;
}

#tableone {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

.classLeft {
	width: 60%;
  height: 100px;
	float: left;
	margin-right: 500px;
	margin-left: 5%;
	margin-top: 30px;
  background: linear-gradient(#a8abaf, #d3f6ea);
  border: 3px solid #73AD21;
  border-radius: 25px;
  padding:10px 5px 15px 20px;
  clear: both;
}

.absoluteClass {
  position: absolute;
  top: 80px;
  left: 0px;
}

.classRight {
	width: 40%;
	float: right;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
  background-color: #FFF;
	border-top-right-radius: 25px;
	margin-bottom: 100px;
  background: red;
  background: linear-gradient(#a8abaf, #e3e6ea);
}

.dropdown {
  position: relative;
  display: inline-block;
}


@media (max-width: 650px){
.classLeft {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
}
.classRight {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 5%;
	margin-bottom: 100px;
}
body {
	background-color: #86888c;
	background-image: url();
	background-size: cover;
	background-attachment: fixed;
	font-family: garamond;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	margin: 0;
}
h1 {
	font-family: garamond;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	line-height: 1em;
	height: 1em;
	margin-bottom: 42px;
}
}
