// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  font-size: medium;
  text-align: center;
  clear: both;
  position: fixed;
  left: 0px;
  bottom: 15px;
  height: 80px;
  width: 100%;
  background-color: #FFF;
  padding-top: 58px;
}
